{% extends "views/layouts/main.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set title = pageHeading + " - S62A Folders" %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
            <h1 class="govuk-heading-l" data-cy="page-heading">
                {{ pageHeading }}
            </h1>

            {{ govukButton({
                text: "Create folder",
                classes: "govuk-button--secondary",
                href: currentUrl + "/create-folder",
                attributes: {
                    "data-cy": "create-folder-button"
                }
            }) }}

            <hr class="govuk-section-break govuk-section-break--s govuk-section-break--visible">
        </div>
    </div>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="pins-link-menu" data-cy="folder-list">
                {% if folders|length == 0 %}
                    <p class="govuk-body" data-cy="no-folders-message">There are no folders in this case</p>
                {% else %}
                    {% for folder in folders %}
                        <a class="govuk-link govuk-heading-s" href="{{ currentUrl }}/{{ folder.id }}/{{ folder.encodedDisplayName }}" data-cy="folder-link-{{ folder.id }}">
                            {{ folder.displayName }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
