{% macro renderPagination(selectedItemsPerPage, totalRepresentations, resultsStartNumber, resultsEndNumber) %}
    <p class="govuk-body">
        Showing <strong>{{ resultsStartNumber }}</strong> to <strong>{{ resultsEndNumber if totalRepresentations > resultsEndNumber else totalRepresentations }}</strong>
        of <strong>{{ totalRepresentations }}</strong> representations, newest first.
    </p>

    {% if totalRepresentations > 25 %}
        <span><strong>Results per page</strong></span>&nbsp;&nbsp;&nbsp;&nbsp;

        {% set pageSizes = [25, 50, 100] %}

        {% for size in pageSizes %}
            {% if size == selectedItemsPerPage %}
                <span class="govuk-body">{{ size }}</span>
            {% else %}
                <a class="govuk-link--no-visited-state" href="{{ currentUrl }}?itemsPerPage={{ size }}" data-pagination="{{ size }}">{{ size }}</a>
            {% endif %}

            {% if not loop.last %}&nbsp;&nbsp;|&nbsp;&nbsp;{% endif %}
        {% endfor %}
    {% endif %}
{% endmacro %}
