{% macro renderRepresentation(representation) %}
    <p class="govuk-body govuk-!-font-weight-bold">
        <a href="written-representations/{{ representation.representationReference }}" class="govuk-link">
            {{ representation.representationTitle }}
        </a>
    </p>
    <p class="govuk-body">
        {% if representation.representationCommentIsRedacted %}
            <span class="redacted" aria-hidden="true">{{ representation.representationComment }}{{ representation.truncatedReadMoreLink | safe }}</span>
            <span class="govuk-visually-hidden">Redacted representation comment</span>
        {% else %}
            {{ representation.representationComment }}{{ representation.truncatedReadMoreLink | safe }}
        {% endif %}
    </p>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <p class="govuk-body"><strong>Submitted by:</strong> {{ representation.representationCategory }}</p>
        </div>
        <div class="govuk-grid-column-one-half">
            <p class="govuk-body"><strong>Date submitted:</strong> {{ representation.dateRepresentationSubmitted }}</p>
        </div>
    </div>
    {% if representation.hasAttachments %}
        <p class="govuk-body">Contains attachment(s)</p>
    {% endif %}
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
{% endmacro %}
