{% extends "views/layouts/main.njk" %}

{% import "views/applications/view/written-representations/representation.njk" as representation %}
{% import "pagination/pagination.njk" as pagination %}
{% import "pagination/pagination-options.njk" as paginationOptions %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "filter-accordion/filter-accordion.njk" import filterAccordion %}
{% from "views/applications/view/links.njk" import applicationLinks %}
{% from "search-bar/search-bar.njk" import searchBar %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
            {{ applicationLinks(links, currentUrl) }}
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible pins-sidebar-alignment">
            <form id="search-filter-form" method="GET">
                <input type="hidden" name="searchCriteria" value="{{ searchValue }}">
                <input type="hidden" name="itemsPerPage" value="{{ selectedItemsPerPage }}">
                {# Preserve current active filters so they persist when adding new ones #}
                {% for filter in filters %}
                    {% if filter.type|lower == 'date' %}
                        {% set from = filter.options.currentRange.from %}
                        {% set to = filter.options.currentRange.to %}
                        {% set fromHasError = filter.options.dateInputFrom and filter.options.dateInputFrom.errorMessage %}
                        {% set toHasError = filter.options.dateInputTo and filter.options.dateInputTo.errorMessage %}
                        {% if (not fromHasError) and (from.day and from.month and from.year) %}
                            <input type="hidden" name="filterSubmissionDateFrom-day" value="{{ from.day }}">
                            <input type="hidden" name="filterSubmissionDateFrom-month" value="{{ from.month }}">
                            <input type="hidden" name="filterSubmissionDateFrom-year" value="{{ from.year }}">
                        {% endif %}
                        {% if (not toHasError) and (to.day and to.month and to.year) %}
                            <input type="hidden" name="filterSubmissionDateTo-day" value="{{ to.day }}">
                            <input type="hidden" name="filterSubmissionDateTo-month" value="{{ to.month }}">
                            <input type="hidden" name="filterSubmissionDateTo-year" value="{{ to.year }}">
                        {% endif %}
                    {% else %}
                        {% for option in filter.options.items %}
                            {% if option.checked %}
                                <input type="hidden" name="{{ filter.name }}" value="{{ option.value }}">
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            {{ filterAccordion(filters, 'Filters', id, cspNonce) }}
            </form>
		</div>

		<div class="govuk-grid-column-two-thirds">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-full">
					<h1 class="govuk-heading-l">
						{% if pageCaption %}
							<span class="govuk-caption-xl">{{ pageCaption }}</span>
						{% endif %}
						{{ pageTitle }}
					</h1>
				</div>
			</div>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-full">
					<form id="search-bar-form" method="GET">
                        <input type="hidden" name="itemsPerPage" value="{{ selectedItemsPerPage }}">
                        {% for filter in filters %}
                            {% if filter.type|lower == 'date' %}
                                    <input type="hidden" name="filterSubmittedDateFrom-day" value="{{ from.day }}">
                                    <input type="hidden" name="filterSubmittedDateFrom-month" value="{{ from.month }}">
                                    <input type="hidden" name="filterSubmittedDateFrom-year" value="{{ from.year }}">
                                    <input type="hidden" name="filterSubmittedDateTo-day" value="{{ to.day }}">
                                    <input type="hidden" name="filterSubmittedDateTo-month" value="{{ to.month }}">
                                    <input type="hidden" name="filterSubmittedDateTo-year" value="{{ to.year }}">
                                {% endif %}
                            {% else %}
                                {% for option in filter.options.items %}
                                    {% if option.checked %}
                                        <input type="hidden" name="{{ filter.name }}" value="{{ option.value }}">
                                    {% endif %}
                                {% endfor %}
                        {% endfor %}
						{{ searchBar({
							input: {
								label: {
									hidden: true
								},
								hint: {
									text: "Search by keywords or by name of person or organisation who made the submission."
								},
								classes: "govuk-input govuk-input--width-30"
							},
							button: {
								text: "Search",
								classes: "govuk-button"
							}
						}, searchValue) }}
					</form>
                    {% if hasQueries %}
                        <p class="govuk-body">Active filters</p>
                        {% for query in filterQueries %}
                            <button
                                type="button" id="{{ query.id }}"  class="govuk-body selected-filter-tag"
                                {% if query.queryKeys %}data-query-keys="{{ query.queryKeys | join(',') }}"{% endif %}>×
                                {{ query.label }}: {{ query.displayName }}</button>
                        {% endfor %}
                        <p class="govuk-body"><a href="{{ clearQueryUrl }}" class="govuk-link govuk-link--no-visited-state">Clear search and filters</a></p>
                        <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
                    {% endif %}
				</div>
			</div>
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-full">
					{% if representations|length == 0 %}
						<p class="govuk-body">No results were found.</p>
					{% else %}
						<div id="pagination" class="govuk-body">
							<p class="govuk-body">
								Showing <strong>{{ resultsStartNumber }}</strong> to <strong>{{ resultsEndNumber if totalRepresentations > resultsEndNumber else totalRepresentations }}</strong>
								of <strong>{{ totalRepresentations }}</strong> representations, newest first.
							</p>

							{{ paginationOptions.renderPagination(selectedItemsPerPage, totalRepresentations, pageNumber, searchValue) }}

							<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

							{% for rep in representations %}
								{{ representation.renderRepresentation(rep) }}
							{% endfor %}
						</div>

						{# if pageNumber and totalPages values are both 1 then pagination options not shown #}
						{{ pagination.renderPagination(pageNumber, totalPages, currentUrl) }}
					{% endif %}
				</div>
			</div>
		</div>
        <script {% if cspNonce %}nonce={{ cspNonce }}{% endif %}>
            document.querySelectorAll('.selected-filter-tag').forEach(function(button) {
                button.addEventListener('click', function(e) {
                    const filterId = e.currentTarget && e.currentTarget.id;
                    const queryKeysAttr = e.currentTarget && e.currentTarget.getAttribute('data-query-keys');
                    const extraKeys = (queryKeysAttr || '').split(',').map(k => k.trim()).filter(Boolean);
                    const urlParams = new URLSearchParams(window.location.search);
                    const updatedParams = new URLSearchParams();
                    urlParams.forEach((value, key) => {
                        // If date range pill, drop all related keys
                        if (extraKeys.length && extraKeys.includes(key)) {
                            return; // skip adding
                        }
                        // Otherwise, remove only the matching value
                        if (value === filterId) {
                            return; // skip adding
                        }
                        updatedParams.append(key, value);
                    });

                    // Redirect to the updated URL
                    window.location.search = updatedParams.toString();
                });
            });
        </script>
	</div>
{% endblock %}
