{% extends "views/layouts/main.njk" %}

{% import "views/applications/view/written-representations/representation.njk" as representation %}
{% import "views/applications/view/written-representations/pagination.njk" as pagination %}
{% import "views/applications/view/written-representations/pagination-options.njk" as paginationOptions %}

{% from "views/applications/view/links.njk" import applicationLinks %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ applicationLinks(links, currentUrl) }}
		</div>

		<div class="govuk-grid-column-two-thirds">
			<div class="govuk-grid-row">
				<div class="govuk-grid-column-full">
					<h1 class="govuk-heading-l">
						{% if pageCaption %}
							<span class="govuk-caption-xl">{{ pageCaption }}</span>
						{% endif %}
						{{ pageTitle }}
					</h1>
				</div>
			</div>

			<div id="pagination" class="govuk-body">
				{{ paginationOptions.renderPagination(selectedItemsPerPage, totalRepresentations, resultsStartNumber, resultsEndNumber) }}

				<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

				{% for rep in representations %}
					{{ representation.renderRepresentation(rep) }}
				{% endfor %}
			</div>

			{# if pageNumber and totalPages values are both 1 then pagination options not shown #}
			{{ pagination.renderPagination(pageNumber, totalPages, currentUrl) }}
		</div>
	</div>
{% endblock %}
