{% extends "moj/template.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block head %}
	{# setup the header tags, to link to the styles #}
	<link rel="stylesheet" href="/style.css"/>
	<link rel="stylesheet" href="/index.css"/>
	<meta name="referrer" content="origin">

	{% if config.googleAnalyticsId %}
		{% if analyticsCookiesEnabled %}
			<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.googleAnalyticsId }}"></script>
		{% endif %}
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}

			{% if analyticsCookiesEnabled %}
				gtag('consent', 'default', {
					'ad_storage': 'denied',
					'ad_user_data': 'denied',
					'ad_personalization': 'denied',
					'analytics_storage': 'granted'
				});
			{% else %}
				// default - no consent
				gtag('consent', 'default', {
					'ad_storage': 'denied',
					'ad_user_data': 'denied',
					'ad_personalization': 'denied',
					'analytics_storage': 'denied'
				});
			{% endif %}

			gtag('js', new Date());

			gtag('config', '{{ config.googleAnalyticsId }}', {
				'cookie_domain': '{{ config.googleAnalyticsCookieDomain }}'
			});
		</script>
	{% endif %}
{% endblock %}

{% block pageTitle %}
	{% set suffix = serviceName | default(config.headerTitle) %}
	{% if applicationReference and pageTitle %}
		{{ applicationReference }} - {{ pageTitle }} – {{ suffix }}
	{% elseif pageTitle %}
		{{ pageTitle }} – {{ suffix }}
	{% else %}
		{{ suffix }}
	{% endif %}
{% endblock %}

{% block header %}
	{% include "views/layouts/components/core/header.njk" %}
{% endblock %}

{% block beforeContent %}
	<script {% if cspNonce %}nonce={{ cspNonce }}{% endif %}>
		document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
	</script>

	{% block backLink %}
		{% if backLinkUrl and backLinkText %}
			{{ govukBackLink({ text: backLinkText, href: backLinkUrl }) }}
		{% elseif backLinkUrl %}
			{{ govukBackLink({ href: backLinkUrl }) }}
        {% elseif backLink %} {# used by the dynamic forms #}
			{{ govukBackLink({ href: backLink }) }}
        {% endif %}
	{% endblock %}
	{% block error_summary %}
        {% if errors %}
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                    {{
                    govukErrorSummary({
                        titleText: "There is a problem",
                        errorList: errorSummary
                    })
                }}
                </div>
            </div>
        {% endif %}
    {% endblock %}
{% endblock %}

{% block bodyStart %}
	{% include "views/layouts/components/core/cookie-banner.njk" %}
{% endblock %}

{% block before_content %}{% endblock %}

{% block content %}
    {% block pageHeading %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
                <h1 class="govuk-heading-xl">
                    {% if pageCaption %}
                        <span class="govuk-caption-xl">{{ pageCaption }}</span>
                    {% endif %}
                    {{ pageHeading or pageTitle }}
                </h1>
            </div>
        </div>
    {% endblock %}
    {% block pageContent %}{% endblock %}

    {% block after_content %}{% endblock %}
{% endblock %}

{% block footer %}
	{% include "views/layouts/components/core/footer.njk" %}

	<script type="module" {% if cspNonce %}nonce={{ cspNonce }}{% endif %} src="/assets/js/govuk-frontend.min.js"></script>
	<script type="module" {% if cspNonce %}nonce={{ cspNonce }}{% endif %} src="/assets/js/moj-frontend.min.js"></script>
	<script type="module" {% if cspNonce %}nonce={{ cspNonce }}{% endif %}>
		import { initAll as govUkInitAll } from '/assets/js/govuk-frontend.min.js'
		import { initAll as mojInitAll } from '/assets/js/moj-frontend.min.js'
		govUkInitAll()
		mojInitAll()
	</script>
{% endblock %}
