{% extends "views/layouts/main.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
    <div class="govuk-width-container">

        <main class="govuk-main-wrapper" id="main-content">

        <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
        <ul class="govuk-list">
          <li>
            <strong>Application Information</strong>
          </li>
          <li>
            <a class="govuk-link" href="#">Documents</a>
          </li>
          <li>
            <a class="govuk-link" href="#">Have your say</a>
          </li>
        </ul>
        </div>


        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">
                        {% if pageCaption %}
                            <span class="govuk-caption-xl">{{ pageCaption }}</span>
                        {% endif %}
                        {{ pageHeading or pageTitle }}
                    </h1>
                </div>
            </div>

            <div>
                <p class="govuk-body-l">Overview of case details, purpose and impact of a Crown Development application</p>
            </div>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">

                    <h2 class="govuk-heading-m">Information required to create skeleton case</h2>
                    <ul class="govuk-list">
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#type-of-application">Type of application</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#local-planning-authority">Local Planning Authority</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#applicant-name">Applicant name</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#site-address">Site address</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#description-proposed-development">Description of the proposed development</a>
                      </li>
                    </ul>

                    <h2 class="govuk-heading-m">Information to be added following submission of application and during application processing</h2>
                    <ul class="govuk-list">
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#application-number">Application number</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#stage">Stage</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#date-application-accepted">Date application accepted</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#date-rep-must-be-made">Date by which representations must be made</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#address-representations">The address for receipt of representations about the application</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#application-decision-date">Application decision date</a>
                      </li>
                    </ul>

                    <h2 class="govuk-heading-m">Case involvement</h2>
                    <ul class="govuk-list">
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#inspector-appointed-person">Inspector / Appointed person</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#case-officer">Case Officer</a>
                      </li>
                    </ul>

                    <h2 class="govuk-heading-m">Site Visit / Hearing / Inquiry</h2>
                    <ul class="govuk-list">
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#procedure">Procedure</a>
                      </li>
                    </ul>

                    <h2 class="govuk-heading-m">If Hearing</h2>
                    <ul class="govuk-list">
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#hearing-date">Hearing Date</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#hearing-venue">Hearing venue</a>
                      </li>
                    </ul>

                    <h2 class="govuk-heading-m">If Inquiry</h2>
                    <ul class="govuk-list">
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#inquiry-statements-date">Inquiry statements date</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#inquiry-date">Inquiry date</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#inquiry-venue">Inquiry venue</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-underline govuk-body-s" href="#proofs-of-evidence">Proofs of evidence</a>
                      </li>
                    </ul>
                </div>
            </div>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <div>
                <h2 id="type-of-application" class="govuk-heading-m">Type of application</h2>
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    Planning permission
                  </li>
                  <li>
                    Outline planning permission with some matters reserved
                  </li>
                  <li>
                    Outline planning permission with all matters reserved
                  </li>
                  <li>
                    Approval of reserved matters following outline approval
                  </li>
                  <li>
                    Planning permission and listed building consent for alterations
                  </li>
                  <li>
                    Extension or demolition of a listed building
                  </li>
                </ul>
            </div>

            <div>
                <h2 id="local-planning-authority" class="govuk-heading-m">Local Planning Authority</h2>
                <p class="govuk-body">The Local Planning Authority (LPA) managing the application</p>
            </div>

            <div>
                <h2 id="applicant-name" class="govuk-heading-m">Applicant name</h2>
                <p class="govuk-body">Can be a company, organisation or individual</p>
            </div>

            <div>
                <h2 id="site-address" class="govuk-heading-m">Site address</h2>
                <p class="govuk-body">To include postcode and Easting/Northing options (neither to be mandatory)</p>
            </div>

            <div>
                <h2 id="description-proposed-development" class="govuk-heading-m">Description of the proposed development</h2>
                <p class="govuk-body">Free text field detailing proposed development works</p>
            </div>

            <div>
                <h2 id="application-number" class="govuk-heading-m">Application number</h2>
                <p class="govuk-body">Generated when creating case</p>
            </div>

            <div>
                <h2 id="stage" class="govuk-heading-m">Stage</h2>
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    Acceptance
                  </li>
                  <li>
                    Consultation
                  </li>
                  <li>
                    Procedure decision
                  </li>
                  <li>
                    Written Representations
                  </li>
                  <li>
                    Inquiry
                  </li>
                  <li>
                    Hearing (dependant upon the outcome of the decision)
                  </li>
                  <li>
                    Decision
                  </li>
                </ul>
            </div>

            <div>
                <h2 id="date-application-accepted" class="govuk-heading-m">Date application accepted</h2>
                <p class="govuk-body">Calendar entry</p>
            </div>

            <div>
                <h2 id="date-rep-must-be-made" class="govuk-heading-m">Date by which representations must be made</h2>
                <p class="govuk-body">Editable calendar entry</p>
            </div>

            <div>
                <h2 id="address-representations" class="govuk-heading-m">The address for receipt of representations about the application</h2>
                <p class="govuk-body">Publishing this information to the website is an SI requirement.  There will need to be a postal address as well for electronic submission</p>
            </div>

            <div>
                <h2 id="application-decision-date" class="govuk-heading-m">Application decision date</h2>
                <p class="govuk-body">Calendar entry</p>
            </div>

            <div>
                <h2 id="inspector-appointed-person" class="govuk-heading-m">Inspector/Appointed person</h2>
                <p class="govuk-body">Names of one or more inspector on the application</p>
            </div>

            <div>
                <h2 id="case-officer" class="govuk-heading-m">Case Officer</h2>
                <p class="govuk-body">An individual or team assigned to the case</p>
            </div>

            <div>
                <h2 id="procedure" class="govuk-heading-m">Procedure</h2>
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                    Written Representations
                  </li>
                  <li>
                    Hearing
                  </li>
                  <li>
                    Inquiry
                  </li>
                </ul>
            </div>

            <div>
                <h2 id="hearing-date" class="govuk-heading-m">Hearing Date</h2>
                <p class="govuk-body">Calendar entry</p>
            </div>

            <div>
                <h2 id="hearing-venue" class="govuk-heading-m">Hearing venue</h2>
                <p class="govuk-body">Free text field</p>
            </div>

            <div>
                <h2 id="inquiry-statements-date" class="govuk-heading-m">Inquiry statements date</h2>
                <p class="govuk-body">Calendar entry</p>
            </div>

            <div>
                <h2 id="inquiry-date" class="govuk-heading-m">Inquiry date</h2>
                <p class="govuk-body">Calendar entry</p>
            </div>

            <div>
                <h2 id="inquiry-venue" class="govuk-heading-m">Inquiry venue</h2>
                <p class="govuk-body">Venue where inquiry will be held. Free text field</p>
            </div>

            <div>
                <h2 id="proofs-of-evidence" class="govuk-heading-m">Proofs of evidence</h2>
                <p class="govuk-body">Calendar entry</p>
            </div>
        </div>
        </div>
        </main>
    </div>
{% endblock %}
