# just wait for PR to run on main as a tirgger
pr: none
trigger: none

resources:
  repositories:
    - repository: templates
      type: github
      endpoint: Planning-Inspectorate
      name: Planning-Inspectorate/common-pipeline-templates
      ref: refs/tags/release/3.24.2
  pipelines:
    - pipeline: pr
      source: PR
      trigger:
        branches:
          include:
            - main

extends:
  template: stages/wrapper_ci.yml@templates
  parameters:
    gitFetchDepth: 0
    globalVariables:
      - template: .azure/pipelines/azure-pipelines-variables.yml@self
    validationJobs:
      - name: Docker Build Portal
        steps:
          - task: DownloadSecureFile@1
            name: productionLpaList
            displayName: 'Download Production LPA List'
            inputs:
              secureFile: 'production_lpa_list.csv'
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 22
              script: npm run read-lpa-data
              workingDirectory: $(Build.Repository.LocalPath)/packages/database
              environmentVariables:
                LPA_DATA_FILE_PATH: $(productionLpaList.secureFilePath)
          - template: ../steps/azure_web_app_docker_build_push.yml@templates
            parameters:
              azurecrName: $(azurecrName)
              dockerfilePath: $(Build.SourcesDirectory)/apps/portal/Dockerfile
              repository: crown/portal
              buildArgs:
                - GIT_SHA=$(Build.SourceVersion)
      - name: Docker Build Manage
        steps:
          - task: DownloadSecureFile@1
            name: productionLpaList
            displayName: 'Download Production LPA List'
            inputs:
              secureFile: 'production_lpa_list.csv'
          - template: ../steps/node_script.yml
            parameters:
              nodeVersion: 22
              script: npm run read-lpa-data
              workingDirectory: $(Build.Repository.LocalPath)/packages/database
              environmentVariables:
                LPA_DATA_FILE_PATH: $(productionLpaList.secureFilePath)
          - template: ../steps/azure_web_app_docker_build_push.yml@templates
            parameters:
              azurecrName: $(azurecrName)
              dockerfilePath: $(Build.SourcesDirectory)/apps/manage/Dockerfile
              repository: crown/manage
              buildArgs:
                - GIT_SHA=$(Build.SourceVersion)
