# the log level for pino
LOG_LEVEL=debug

# a secret used for sessions
SESSION_SECRET=not-a-real-secret

# Database
SQL_CONNECTION_STRING="sqlserver://localhost:1433;database=pins_crown_dev;user=sa;password=DockerDatabaseP@22word!;trustServerCertificate=true"