# the log level for pino
LOG_LEVEL=debug

# a secret used for sessions
SESSION_SECRET=not-a-real-secret

#GovNotify
GOV_NOTIFY_DISABLED=false
GOV_NOTIFY_API_KEY=not-a-real-api-key
S62A_DEV_CONTACT_EMAIL=an-email
GOV_NOTIFY_PRE_ACK_TEMPLATE_ID=<id>
GOV_NOTIFY_ACK_REP_TEMPLATE_ID=<id>

# Database
SQL_CONNECTION_STRING="sqlserver://localhost:1433;database=pins_crown_dev;user=sa;password=DockerDatabaseP@22word!;trustServerCertificate=true"

# Feature flags
FEATURE_FLAG_S62A_PORTAL_NOT_LIVE=false