@use 'node_modules/govuk-frontend/dist/govuk/all' as govuk with (
	$govuk-font-family: (
		Arial,
		Helvetica,
		sans-serif
	)
);
@forward 'node_modules/@ministryofjustice/frontend/moj/all';
@use './components/application-links.scss';
@use './components/pins-table.scss';
@use './components/document-list.scss';
@use './components/intro-to-service-panel';
@use './components/pins-header.scss';
@use './components/pins-navigation.scss';
@use './components/pins-chevron-cards.scss';

.row-inline {
	display: flex;
	gap: 8px;
}
