@use 'node_modules/govuk-frontend/dist/govuk/index' as govuk with (
	$govuk-font-family: (
		Arial,
		Helvetica,
		sans-serif
	)
);
@forward 'node_modules/@ministryofjustice/frontend/moj/all';
@use './components/application-links.scss';
@use './components/pins-table.scss';
@use './components/document-list.scss';
@use './components/intro-to-service-panel';
@use './components/pins-header.scss';
@use './components/pins-navigation.scss';
@use './components/pins-chevron-cards.scss';
@use 'components/pins-filter-accordion';

.row-inline {
	display: flex;
	gap: 8px;
}

.pins-pre-wrap {
	white-space: pre-wrap;
}
.pins-pre-line {
	white-space: pre-line;
}
.pins-overflow-break-word {
	overflow-wrap: break-word;
}
.uploading-bar--hidden {
	display: none;
	margin-bottom: 1em;
}
.uploading-bar--visible {
	display: block;
	margin-bottom: 1em;
}
.pins-details-summary {
	margin: 10px 0 10px 0;
}
.pins-application-stage-summary-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: calc(100% - 25px); // account for default padding
}
.pins-application-stage-summary-row {
	display: block;
	width: 100%;
	border-bottom: 1px solid govuk.govuk-colour('mid-grey');
}
.pins-application-stage-summary-row:last-child {
	border-bottom: none;
}

.pins-sidebar-alignment {
	margin-left: calc(-0.7em);
}

.mobile-default {
	display: none;
}

.desktop-default {
	display: block;
}

@media (max-width: 768px) {
	.mobile-default {
		display: block;
	}
	.desktop-default {
		display: none;
	}
}
