@use 'node_modules/govuk-frontend/dist/govuk/index' as govuk;

.pins-multi-file-upload {
	.moj-multi-file-upload__row--flex {
		display: flex;
		align-items: center;
		width: 100%;
	}

	.moj-multi-file-upload__col-name {
		flex: 0 0 65%;
		min-width: 0;
		word-break: break-word;
		padding-right: 15px;
	}

	.moj-multi-file-upload__col-status {
		flex: 1 1 auto;
		min-width: 0;
		padding-right: 15px;

		.govuk-error-message {
			margin-bottom: 0;
		}
	}

	.moj-multi-file-upload__col-actions {
		flex: 0 0 auto;
		padding-right: 0;
		text-align: right;
	}

	.moj-multi-file-upload__col-actions:empty {
		display: none;
	}

	// This component goes Files Addes -> File Uploader by default with a black dashed dropzone
	// But in our designs we want the reverse order with blue dashed dropzone.
	.moj-multi-file-upload--enhanced {
		display: flex;
		flex-direction: column-reverse;

		.moj-multi-file-upload__dropzone {
			outline: 3px dashed govuk.govuk-colour('blue');
		}
	}
}
