.pins-multi-file-upload {
	.moj-multi-file-upload__row--flex {
		display: flex;
		align-items: center;
		width: 100%;
	}

	.moj-multi-file-upload__col-name {
		flex: 0 0 65%;
		min-width: 0;
		word-break: break-word;
		padding-right: 15px;
	}

	.moj-multi-file-upload__col-status {
		flex: 1 1 auto;
		min-width: 0;
		padding-right: 15px;

		.govuk-error-message {
			margin-bottom: 0;
		}
	}

	.moj-multi-file-upload__col-actions {
		flex: 0 0 auto;
		padding-right: 0;
		text-align: right;
	}

	.moj-multi-file-upload__col-actions:empty {
		display: none;
	}
}
