$font-family: arial, helvetica, sans-serif;
//Main gov styles
@use 'node_modules/govuk-frontend/dist/govuk/index' as * with (
	// don't use the GDS Transport font, this service is not on GOV.UK
	// https://www.gov.uk/service-manual/design/making-your-service-look-like-govuk#if-your-service-isnt-on-govuk
	$govuk-font-family: $font-family
);
@forward 'node_modules/@ministryofjustice/frontend/moj/all';
@use './header';

// set font-family for any autocomplete menu items
.autocomplete__menu {
	font-family: $font-family;
}

@media (min-width: 1440px) {
	.pins-container-wide {
		max-width: 1280px;
	}
}

.pins-white-space-pre-wrap {
	white-space: pre-wrap;
}
.pins-white-space-pre-line {
	white-space: pre-line;
}

.status-tag-width {
	max-width: 250px !important;
}

.pins-select--width-4 {
	min-width: 4.5em !important;
	max-width: 4.5em !important;
}

.filter-container {
	background-color: #f3f2f1;
}

.filter-box {
	.govuk-checkboxes {
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

.row-inline {
	display: flex;
	gap: 8px;
}

.pins-dashboard-box {
	padding: govuk-spacing(5) govuk-spacing(5) 1px;
	margin-bottom: govuk-spacing(7);
	box-shadow:
		0 2px 0 govuk-colour('mid-grey'),
		inset 2px 0 0 govuk-colour('mid-grey'),
		inset -2px 0 0 govuk-colour('mid-grey'),
		inset 0 4px 0 govuk-colour('blue');

	&--title {
		margin-bottom: govuk-spacing(4);
	}

	&--form {
		position: relative;
	}

	&--btn {
		margin-top: govuk-spacing(2);
		margin-bottom: 2px;
	}
}

.pins-pagination-options {
	float: right;
}
.uploading-bar--hidden {
	display: none;
	margin-bottom: 1em;
}
.uploading-bar--visible {
	display: block;
	margin-bottom: 1em;
}
