{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageTitle %}
	{% set suffix = serviceName | default(config.headerTitle) %}
	{{ pageTitle }} - {{ suffix }}
{% endblock %}
{% block pageHeading %}{% endblock %}

{% block pageContent %}
	{% if cookiePreferenceSet %}
		{% set bannerContent %}
			<h3 class="govuk-notification-banner__heading">Your cookie settings were saved</h3>
			<p class="govuk-body">Government services may set additional cookies and, if so, will have their own cookie policy
				and banner.</p>
		{% endset %}
		{{ govukNotificationBanner({
			html: bannerContent,
			type: "success"
		}) }}
	{% endif %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-xl" data-cy="page-heading">
				Cookies on the Find a Crown Development Application service
			</h1>
			<p class="govuk-body">
				Cookies are small files saved on your phone, tablet or computer when you visit a website.
			</p>
			<p class="govuk-body">
				We use cookies to make this site work and collect information about how you use our service.
			</p>
			<h2 class="govuk-heading-m">Essential cookies</h2>
			<p class="govuk-body">Essential cookies keep your information secure while you use this service. We do not need to ask permission to use them.</p>

			{{ govukTable({
				caption: "Essential cookies we use",
				captionClasses: "govuk-table__caption--s",
				attributes: {
					"data-cy": "essential-cookies-we-use-table"
				},
				classes: "govuk-table--small-text-until-tablet",

				head: [
					{
						text: "Name"
					},
					{
						text: "Purpose"
					},
					{
						text: "Expires"
					}
				],
				rows: [
					[
						{
							text: "__cf_bm"
						},
						{
							text: "Helps us detect and mitigate malicious bot traffic"
						},
						{
							text: "30 minutes"
						}
					],
					[
						{
							text: "ASLBSA"
						},
						{
							text: "Keeps you on the same server, so your user experience stays consistent"
						},
						{
							text: "When you close your browser"
						}
					],
					[
						{
							text: "ASLBSACORS"
						},
						{
							text: "Keeps you on the same server, so your user experience stays consistent"
						},
						{
							text: "When you close your browser"
						}
					],
					[
						{
							text: "CrownDevAnalyticsEnabled"
						},
						{
							text: "Helps us remember your cookie policy preferences"
						},
						{
							text: "1 year"
						}
					],
					[
						{
							text: "connect.sid"
						},
						{
							text: "Allocates you a session ID"
						},
						{
							text: "24 hours"
						}
					]
				]
			}) }}

			<h2 class="govuk-heading-m">Analytics cookies</h2>

			<p class="govuk-body">
				We use analytics cookies to measure how you use Find a Crown development application so we can improve it based on user needs. We do not allow
				analytics providers to use or share the data about how you use this services. View the <a href="https://www.gov.uk/government/publications/planning-inspectorate-privacy-notices/customer-privacy-notice" class="govuk-link">Planning Inspectorate Customer Privacy Notice</a> for more information.
			</p>

			{{ govukTable({
				attributes: {
					"data-cy": "analytics-cookies-we-use-table"
				},
				classes: "govuk-table--small-text-until-tablet",
				head: [
					{
						text: "Name"
					},
					{
						text: "Purpose"
					},
					{
						text: "Expires"
					}
				],
				rows: [
					[
						{
							text: "_ga"
						},
						{
							text: "Helps us count how many people visit our website by tracking if you've visited before"
						},
						{
							text: "2 years"
						}
					],
					[
						{
							text: "_ga_HP9Q7SY3N8"
						},
						{
							text: "Helps us understand how you use the website by measuring visits and traffic patterns"
						},
						{
							text: "2 years"
						}
					]
				]
			}) }}
			<h2 class="govuk-heading-m">Change your cookie settings</h2>
			<form action="" method="post">
				<input type="hidden" name="_csrf" value="{{ _csrf }}">
				{{ govukRadios({
					name: "acceptCookies",
					fieldset: {
						legend: {
							text: "Do you want to accept analytics cookies?",
							isPageHeading: false,
							classes: "govuk-fieldset__legend--s"
						}
					},
					items: [
						{
							value: "yes",
							text: "Yes",
							checked: analyticsCookiesPreferenceSet and analyticsCookiesEnabled == true
						},
						{
							value: "no",
							text: "No",
							checked: analyticsCookiesPreferenceSet and analyticsCookiesEnabled == false
						}
					]
				}) }}

				{{ govukButton({
					text: "Save changes",
					type: "submit"
				}) }}
			</form>
		</div>
	</div>
{% endblock %}
