{% extends "views/layouts/main.njk" %}

{% from "views/applications/view/links.njk" import applicationLinks %}
{% import "pagination/pagination.njk" as pagination %}
{% import "pagination/pagination-options.njk" as paginationOptions %}
{% from "search-bar/search-bar.njk" import searchBar %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            {{ applicationLinks(links, currentUrl) }}
        </div>

        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-l">
                        {% if pageCaption %}
                            <span class="govuk-caption-xl">{{ pageCaption }}</span>
                        {% endif %}
                        {{ pageTitle }}
                    </h1>
                    <form id="govuk-row" method="GET">
                        {# TODO: CROWN-923 keywords to be added to hint text #}
                        {{ searchBar({
                            input: {
                                label: {
                                    hidden: true
                                },
                                hint: {
                                     text: "Search by document name"
                                },
                                classes: "govuk-input govuk-input--width-30"
                            },
                            button: {
                                text: "Search",
                                classes: "govuk-button"
                            }
                        }, searchValue) }}
                    </form>

                    {% if documents | length == 0 %}
                        <p class="govuk-body">No results were found.</p>
                        <p class="govuk-body"><a href="{{ baseUrl }}/documents" class="govuk-link govuk-link--no-visited-state">Clear search</a> to view all documents.</p>
                    {% else %}
                        <div id="pagination" class="govuk-body">
                            <p class="govuk-body">
                                Showing <strong>{{ resultsStartNumber }}</strong> to <strong>{{ resultsEndNumber if totalDocuments > resultsEndNumber else totalDocuments }}</strong>
                                of <strong>{{ totalDocuments }}</strong> documents, newest first.
                            </p>
                            <p class="govuk-body">{{ paginationOptions.renderPagination(selectedItemsPerPage, totalDocuments, pageNumber) }}</p>
                            <ul class="govuk-list document-list">
                                {% for document in documents %}
                                    <li>
                                        <a class="govuk-link" href="{{ currentUrl }}/{{ document.id }}" target="_blank" rel="noreferrer">
                                            {{ document.name }}
                                        </a>
                                        <div class="document-list__meta-data">
                                            <div>{{ document.lastModified }}</div>
                                            <div>{{ document.type }}</div>
                                            <div>{{ document.size }}</div>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>

                        {# if pageNumber and totalPages values are both 1 then pagination options not shown #}
                        {{ pagination.renderPagination(pageNumber, totalPages, currentUrl) }}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}