{% extends "views/layouts/main.njk" %}

{% block pageTitle %}
    {{ pageTitle }} - Manage Crown Developments
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
            <p class="govuk-body">
                We have not saved your answers.
            </p>
            <p class="govuk-body">
                When the service is available, you will have to start again. Please avoid special characters like ' and \.
            </p>
            <p class="govuk-body">
                If the issue keeps occurring, you can raise a support ticket on Littlefish via the intranet.
            </p>
        </div>
    </div>

{% endblock %}