<div class="govuk-grid-row pins-info">
	<div class="govuk-grid-column-two-thirds">
		<br>
		<h1 class="govuk-heading-xl pins-info__heading">
			Welcome to find a local planning application made to the Planning Inspectorate
		</h1>
		<p class="govuk-body pins-info__body">
			These applications have been made directly to the Planning Inspectorate instead of a Local Planning Authority (LPA) under a rule called <a href="https://www.gov.uk/guidance/planning-applications-s62a">Section 62A (opens in new tab)</a>.
		</p>
		<br><br>
	</div>
</div>
