<div class="govuk-grid-row pins-info">
	<div class="govuk-grid-column-two-thirds">
		<br>
		<h1 class="govuk-heading-xl pins-info__heading">
			Welcome to find a local planning application made to the Planning Inspectorate
		</h1>
		<p class="govuk-body pins-info__body">
			These applications have been made directly to the Planning Inspectorate instead of a Local Planning Authority (LPA) under a rule called 
			<a href="https://www.gov.uk/guidance/planning-applications-s62a" class="govuk-body pins-info__body">Section 62A (opens in new tab)</a>.
		</p>
		<p class="govuk-body pins-info__body">
			To view applications submitted before 2026, 
			<a href="https://www.gov.uk/government/publications/planning-applications-process-section-62a-authorities-in-special-measures" class="govuk-body pins-info__body">search and view planning applications</a>
			on the legacy 
			<a href="http://gov.uk/" class="govuk-body pins-info__body">GOV.UK</a> 
			service.
		</p>
		<br><br>
	</div>
</div>
