{% extends "views/layouts/main.njk" %}

{% block pageTitle %}
    {% set suffix = serviceName | default(config.headerTitle) %}
    {{ pageTitle | default('Accessibility Statement') }} - {{ suffix }}
{% endblock %}

{% block pageHeading %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                {{ pageHeading }}
            </h1>
        </div>
    </div>
{% endblock %}

{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">This accessibility statement applies to
                <a class="govuk-link" href="https://find-crown-development.planninginspectorate.gov.uk">
                    https://find-crown-development.planninginspectorate.gov.uk</a>.
            </p>
            <p class="govuk-body"> This website is run by the Planning Inspectorate.
                We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>change colours, contrast levels and fonts using browser or device settings</li>
                <li>zoom in up to 400% without the text spilling off the screen</li>
                <li>navigate most of the website using a keyboard or speech recognition software</li>
                <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
            </ul>
            <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
            <p class="govuk-body">
                <a class="govuk-link" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
            <h2 class="govuk-heading-m">How accessible this service is</h2>
            <p class="govuk-body">We know some parts of this website are not fully accessible. For example:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>The focus order on some form pages may not always be logical when using iOS devices.</li>
                <li>The header logo link contains no text.</li>
                <li>There are missing focus styles on pagination elements.</li>
                <li>Some navigational elements are missing the navigation role.</li>
                <li>Some link text is missing context.</li>
                <li>Some input fields are missing labels.</li>
                <li>Some grouped form elements are missing a fieldset element.</li>
                <li>Some content is not ordered correctly.</li>
                <li>There are some usability issues with the file upload component.</li>
            </ul>
            <h2 class="govuk-heading-m">Feedback and contact information</h2>
            <p class="govuk-body">If you find any problems not listed on this page or think we’re not meeting accessibility requirements, use our <a class="govuk-link" href="https://contact-us.planninginspectorate.gov.uk/hc/en-gb/requests/new">customer contact form</a>.</p>
            <p class="govuk-body">If you need information on this website in a different format like accessible PDF, large print, easy read, audio recording or braille:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Call <a class="govuk-link" href="tel:03034445000">0303 444 5000</a></li>
                <li>Submit a request via our <a class="govuk-link" href="https://contact-us.planninginspectorate.gov.uk/hc/en-gb/requests/new">customer contact form</a></li>
            </ul>
            <p class="govuk-body">We’ll consider your request and get back to you in 10 working days.</p>
            <h2 class="govuk-heading-m">Enforcement procedure</h2>
            <p class="govuk-body">
                The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.
            </p>
            <p class="govuk-body">
                 If you’re not happy with how we respond to your complaint,
                <a class="govuk-link" href="https://www.equalityadvisoryservice.com/">contact the Equality Advisory and Support Service (EASS)</a>.
            </p>
            <h2 class="govuk-heading-m">Technical information about this website’s accessibility</h2>
            <p class="govuk-body">The Planning Inspectorate is committed to making its website accessible,
                in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>
            <h3 class="govuk-heading-s">Compliance status</h3>
            <p class="govuk-body">The website has been tested against the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard.</p>
            <p class="govuk-body">This website is partially compliant with the Web Content Accessibility Guidelines (WCAG) 2.2 AA standard, due to the non-compliances listed below.</p>

            <h2 class="govuk-heading-m">Non-accessible content</h2>
            <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations</h3>
            <ol class="govuk-list govuk-list--number">
                <li>
                    <p class="govuk-body">On some form pages, the focus order after selecting ‘continue’ may not follow a logical sequence when using assistive technologies on iOS devices. This may make it harder for users to understand their position on the page.
                    <p class="govuk-body">This fails WCAG 2.2 Success Criterion 2.4.3 (Focus Order).</p>
                    <p class="govuk-body">This issue is caused by a known platform-level behaviour in iOS and is not something we can fix within this service. We will continue to monitor this issue and review any changes to iOS that may allow us to address it in the future.</p>
                </li>
                <li>
                    <p class="govuk-body">In the header, the ‘Planning Inspectorate’ logo Scalable Vector Graphic (SVG) contains an empty link. This can introduce confusion for keyboard and screen reader users.</p>
                    <p class="govuk-body">This fails WCAG 2.2 WCAG 2.4.4 Link Purpose (In Context).</p>
                    <p class="govuk-body">We expect to resolve this issue by 28 August 2026.</p>
                </li>
                <li>
                    <p class="govuk-body">Our ‘results per page’ pagination element is missing a visible focus style.</p>
                    <p class="govuk-body">This fails WCAG 2.2 WCAG 2.4.7 Focus Visible.</p>
                    <p class="govuk-body">We expect to resolve this issue by 28 August 2026.</p>
                </li>
                <li>
                    <p class="govuk-body">Some elements are missing a navigation role within semantic HTML:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>Left hand navigation menu on an application</li>
                        <li>Footer navigation links</li>
                    </ul>
                    <p class="govuk-body">This fails WCAG 2.2 WCAG 1.3.1 Info and Relationships.</p>
                    <p class="govuk-body">We expect to resolve this issue by 28 August 2026.</p>
                </li>
                <li>
                    <p class="govuk-body">The link text on the application information page is not sufficiently detailed.</p>
                    <p class="govuk-body">This fails WCAG 2.2 WCAG 2.4.4 Link Purpose (In Context).</p>
                    <p class="govuk-body">We expect to resolve this issue by 28 August 2026.</p>
                </li>
                <li>
                    <p class="govuk-body">The search input fields on the written representations and documents page on an application are missing a label.</p>
                    <p class="govuk-body">This fails WCAG 2.2 WCAG 3.3.2 Labels or Instructions.</p>
                    <p class="govuk-body">We expect to resolve this issue by 28 August 2026.</p>
                </li>
                <li>
                    <p class="govuk-body">In our written representations filters, related checkboxes are not grouped in a fieldset.</p>
                    <p class="govuk-body">This fails WCAG 2.2 WCAG 1.3.1 Info and Relationships.</p>
                    <p class="govuk-body">We expect to resolve this issue by 28 August 2026.</p>
                </li>
                <li>
                    <p class="govuk-body">The order of content on the have your say start page is in an order that means that it appears after the ‘Start’ button. This means that it may be missed by screenreader users.</p>
                    <p class="govuk-body">This fails WCAG 2.2 WCAG 1.3.2 Meaningful Sequence.</p>
                    <p class="govuk-body">We expect to resolve this issue by 28 August 2026.</p>
                </li>
                <li>
                    <p class="govuk-body">The file upload component has issues that may affect users of assistive technologies:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>The file remove action link needs contextual information to tell users which file they are removing.</li>
                        <li>When a user selects a file to upload, it is possible to select the ‘Continue’ button before the upload has finished. This can cause confusion, because there is no indication that the upload is incomplete.</li>
                        <li>Keyboard users cannot move past the upload component until the upload has completed. This creates an inconsistent user experience and may prevent some users from progressing when expected.</li>
                    </ul>
                    <p class="govuk-body">This fails:</p>
                    <ul class="govuk-list govuk-list--bullet">
                        <li>WCAG 2.2 Success Criterion 4.1.2 (Name, Role, Value)</li>
                        <li>WCAG 2.2 Success Criterion 3.3.2 (Labels or Instructions)</li>
                        <li>WCAG 2.2 WCAG 2.4.4 Link Purpose (In Context)</li>
                    </ul>
                    <p class="govuk-body">We expect to resolve this issue by 31 December 2026.</p>
                </li>
            </ol>


            <h3 class="govuk-heading-s">Preparation of this accessibility statement</h3>
            <p class="govuk-body">This statement was prepared on 26 March 2025. It was last reviewed on 25 March 2026.</p>
            <p class="govuk-body">This website was last tested on 18 March 2026 against the WCAG 2.2 AA standard.</p>
            <p class="govuk-body">The test was carried out by our internal team. The most viewed pages were tested using automated testing tools. A further audit of the website was carried out to the WCAG 2.2 AA standard.</p>
        </div>
    </div>
{% endblock %}