@use 'node_modules/govuk-frontend/dist/govuk/index' as govuk;

.pins-info-container {
	width: 100%;
	background-color: #00847f;
	color: govuk.govuk-colour('white');
	box-sizing: border-box;
	box-shadow: 0 0 0 100vmax #00847f;
	clip-path: inset(0 -100vmax);
	border-bottom: none;
}

.pins-info-heading {
	color: govuk.govuk-colour('white') !important;
	margin: 0;
}

.pins-info-body {
	color: govuk.govuk-colour('white') !important;
	margin-top: 20px;
}
