@use 'node_modules/govuk-frontend/dist/govuk/index';

.-link-focus {
	outline: 3px solid rgba(0, 0, 0, 0);
	color: #0b0c0c;
	background-color: #fd0;
	box-shadow:
		0 -2px #fd0,
		0 4px #0b0c0c;
	text-decoration: none;
}

.filter-accordion {
	box-sizing: border-box;

	&__title {
		@extend .govuk-heading-m;
		display: block;
	}

	&__show-hide-all-filters-button {
		@extend .govuk-link;
		@extend .govuk-link--no-visited-state;
		@include index.govuk-responsive-margin(4, 'bottom');
		font-size: 1em;
		background: none;
		border: none;
		padding: 0;
		cursor: pointer;

		&:focus {
			@extend .-link-focus;
		}
	}

	.filter-accordion__sections-container {
		.filter-accordion__section {
			.filter-accordion__section-summary {
				@extend .govuk-heading-s;
				display: flex;
				align-items: center;
				gap: 0.5rem;
				width: 100%;
				padding: 0.5rem 0 0.5rem 0.9375rem;
				border-bottom: 1px solid #b1b4b6;
				color: #1d70b8;
				text-decoration: none;
				cursor: pointer;

				& > * {
					vertical-align: middle;
				}

				a {
					color: inherit;
					text-decoration: none;
				}
			}

			&:last-child .filter-accordion__section-summary {
				border-bottom: none;
			}
		}
	}

	&__sections {
		border-bottom: 1px solid #f3f2f1;

		&:last-child {
			border-bottom: none;
		}
	}

	.filter-accordion__section-content {
		padding-left: 0.9375rem;
	}

	&__section-summary {
		@extend .govuk-link;
		@extend .govuk-link--no-visited-state;
		@include index.govuk-responsive-margin(4, 'bottom');
		list-style: none !important;

		&::-webkit-details-marker {
			display: none !important;
		}

		&::before {
			content: '';
			display: block;
			flex: 0 0 1em;
			width: 1em;
			height: 1em;
			background: black;
			clip-path: polygon(6.38% 22.63%, 49.5% 65.75%, 92.63% 22.63%, 100% 30%, 50% 80%, 0% 30%);
			margin: 0;
			vertical-align: middle;
			line-height: 0;
			transform-origin: center;
		}
	}

	& [class*='filter-accordion__section'][open] &__section-summary::before {
		transform: rotate(180deg);
	}
}

.filter-selected-tag {
	margin: 0;
	background: #f3f2f1;
	border: solid 1px #b1b4b6;
	padding: 4px 12px;

	&__remove-button {
		background: none;
		border: none;
		padding: 0;
		margin-right: 8px;
		font-size: 1em;
		line-height: 1;
		cursor: pointer;
	}
}
