@use 'node_modules/govuk-frontend/dist/govuk/index' as govuk;

footer.govuk-footer {
	background-color: #f3f3f3;
	border-top: 10px solid #13a19b;
	padding-top: govuk.govuk-spacing(7);
	padding-bottom: govuk.govuk-spacing(5);
	font-size: 1rem;
}

.govuk-footer__meta {
	display: flex;
	flex-direction: column;
	margin-bottom: govuk.govuk-spacing(2);

	@media (min-width: 540px) {
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		margin: 0;
	}
}

.govuk-footer__meta-item {
	text-align: center;
	margin: 0 auto govuk.govuk-spacing(5);

	@media (min-width: 540px) {
		margin: 0;
		text-align: left;
	}

	&--grow {
		flex: 1;
	}
}

.govuk-footer__inline-list {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;

	@media (min-width: 540px) {
		flex-direction: row;
		justify-content: flex-start;
	}
}

.govuk-footer__ogl {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	text-align: left;
	margin-bottom: govuk.govuk-spacing(4);
	margin-left: govuk.govuk-spacing(6);

	@media (min-width: 540px) {
		justify-content: flex-start;
		margin-bottom: 0;
		margin-left: 0;
	}
}

.govuk-footer__ogl-logo {
	display: inline-block;
	margin-right: govuk.govuk-spacing(2);
	vertical-align: top;
	flex-shrink: 0;
}

.govuk-footer__ogl-description {
	display: inline-block;
	max-width: 90%;
}

.pins-footer__logo {
	display: block;
	width: auto;
	height: 65px;
	margin: 0 auto govuk.govuk-spacing(2);

	@media (min-width: 540px) {
		margin: 0 0 govuk.govuk-spacing(2) auto;
	}
}

.govuk-footer__copyright-logo {
	display: block;
	text-align: center;

	@media (min-width: 540px) {
		text-align: right;
	}
}

.govuk-footer__copyright-text {
	display: block;
	font-size: 16px;
	line-height: 1.14286;
	color: govuk.govuk-colour('black');
	text-decoration: underline;
	text-align: center;

	@media (min-width: 540px) {
		text-align: right;
	}

	&:hover {
		text-decoration: underline;
	}

	&:focus {
		@include govuk.govuk-focused-text;
	}
}
