@use 'node_modules/govuk-frontend/dist/govuk/index' as govuk;

.pins-table__container {
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
}
@media (max-width: 640px) {
	/* zoom 400% and on mobile */
	.pins-table-columns__hide-on-mobile {
		display: none;
	}
}
