{% extends "views/layouts/main.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "search-filter/search-filter.njk" import searchFilters %}

{% block pageContent %}
    {% if repReviewed %}
        {{ govukNotificationBanner({
            text: "Representation has been " + repReviewed,
            type: "success"
        }) }}
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form id="search-filter-form" method="GET">
                {{ searchFilters(filters) }}
            </form>
        </div>
        <div class="govuk-grid-column-one-third">
            <h3 class="govuk-heading-m">Add a representation</h3>
            <p class="govuk-body">
                <a href="{{ baseUrl }}/add-representation/start" class="govuk-link govuk-link--no-visited-state">Add a representation</a>
            </p>
        </div>
    </div>

    {{ repsTable(reps) }}

    <script {% if cspNonce %}nonce={{ cspNonce }}{% endif %}>
        // handle adding and removing search parameters from filter form
        document.getElementById('search-filter-form').addEventListener('submit', function (e) {
            e.preventDefault();

            const form = e.target;
            const url = new URL(form.action, window.location.origin);
            const params = new URLSearchParams();

            new FormData(form).forEach((value, key) => {
                if (value.trim()) params.append(key, value);
            });

            url.search = params.toString() ? `?${params}` : '';

            window.location.href = url.toString();
        });
    </script>
{% endblock %}

{% macro repsTable(representations) %}
    {% set repsRows = [] %}
    {% for rep in representations %}
        {% set actionText = 'View' %}
        {% set actionLink = 'view' %}
        {% if rep.review %}
            {% set actionText = 'Review' %}
            {% set actionLink = 'review' %}
        {% endif  %}
        {% set row = [
            {
                text: rep.reference
            },
            {
                text: rep.submittedByFullName
            },
            {
                text: rep.submittedDate,
                attributes: {
                    "data-sort-value": rep.submittedDateSortableValue
                }
            },
            {
                text: rep.status
            },
            {
                html: '<a href="'+ baseUrl + '/' + rep.reference + '/' + actionLink + '" class="govuk-link">' + actionText + '</a>'
            }
        ] %}
        {% set repsRows = (repsRows.push(row), repsRows) %}
    {% endfor %}

    {% set headers = [
        {
            text: 'Reference',
            attributes: {
                "aria-sort": "none"
            }
        },
        {
            text: 'From',
            attributes: {
                "aria-sort": "none"
            }
        },
        {
            text: 'Submitted Date',
            attributes: {
                "aria-sort": "ascending"
            }
        },
        {
            text: 'Status',
            attributes: {
                "aria-sort": "none"
            }
        },
        {
            text: 'Action'
        }
    ] %}

    {{ govukTable({
        attributes: {
            "data-module": "moj-sortable-table"
        },
        head: headers,
        rows: repsRows
    }) }}
{% endmacro %}