{% extends "views/layouts/main.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageContent %}
	{{ govukPanel({
		titleText: title,
		html: bodyText
	}) }}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<p class="govuk-body">
				<a href="{{ successBackLinkUrl }}" class="govuk-link">{{ successBackLinkText }}</a>
			</p>
			{% if hasLinkedCase %}
				<p class="govuk-body">
					<a href="{{ successBackLinkLinkedCaseUrl }}" class="govuk-link">{{ successBackLinkLinkedCaseText }}</a>
				</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
