{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

<header role="banner">
    <div class="pins-header">
        <div class="govuk-header__container pins-header__container govuk-width-container">
            <div class="govuk-header__logo">
				<span class="govuk-header__logotype" aria-label="Home button">
					<a href="/applications">{% include "views/layouts/components/core/pins-dual-logo.njk" %}</a>
				</span>
            </div>
        </div>
    </div>

    {% if config.isLive %}
          {{ govukServiceNavigation({
            classes: 'pins-navigation',
            serviceName: config.headerTitle,
            navigation: config.primaryNavigationLinks
        }) }}

        <div class="govuk-width-container">
            {% include "views/layouts/components/core/banner.njk" %}
        </div>

    {% endif %}
</header>
