    <div class="govuk-grid-row pins-info-container">
        <div class="govuk-grid-column-two-thirds">
            <br>
            <h1 class="govuk-heading-xl pins-info-heading">
                Welcome to Find a Crown Development Application
            </h1>
            <p class="govuk-body pins-info-body">
                Here you can find more information about Crown Development Applications. These are planning applications for non-urgent, nationally important developments made by Crown Bodies (including other Government Departments).
            </p>
            <p class="govuk-body pins-info-body">
                This site is managed by the Planning Inspectorate, the government agency responsible for handling Crown Development applications.
            </p>
            <br><br>
        </div>
    </div>
