{% extends "views/layouts/main.njk" %}

{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "views/applications/view/links.njk" import applicationLinks %}

{% from "views/applications/view/application-info/have-your-say-information.njk" import renderHaveYourSayInformation %}
{% import "views/applications/view/application-info/application-stage/application-stage.njk" as applicationStage %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            {{ applicationLinks(links, currentUrl) }}
        </div>

        <div class="govuk-grid-column-two-thirds">
            {% if hasLinkedCase %}
                {{ govukNotificationBanner({
                    html: '<p class="govuk-notification-banner__heading">This application is connected to a ' + linkedCaseLink + '.</p>'
                }) }}
            {% endif %}
            {% if latestApplicationUpdate %}
                <div class="govuk-grid-row">
                    {% set html %}
                        <h3 class="govuk-notification-banner__heading">Latest update - {{ latestApplicationUpdate.firstPublished }}</h3>
                        <p class="govuk-body pins-pre-line">{{ latestApplicationUpdate.details }}</p>
                        <p><a class="govuk-notification-banner__link" href="{{ baseUrl }}/application-updates">View all updates</a></p>
                    {% endset %}
                    {{ govukNotificationBanner({
                        html: html
                    }) }}
                </div>
            {% endif %}

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">
                        {% if pageCaption %}
                            <span class="govuk-caption-xl">{{ pageCaption }}</span>
                        {% endif %}
                        {{ pageHeading or pageTitle }}
                    </h1>
                </div>
            </div>

            <div>
                <h2 class="govuk-heading-m">About this application</h2>
                {{ govukSummaryList({
                    rows: aboutThisApplicationSectionItems
                }) }}

                {% if shouldShowImportantDatesSection %}
                    <h2 class="govuk-heading-m">Important dates</h2>
                    {{ govukSummaryList({
                        rows: importantDatesSectionItems
                    }) }}
                {% endif %}

                {% if shouldShowProcedureDetailsSection %}
                    <h2 class="govuk-heading-m">Procedure details</h2>
                    {{ govukSummaryList({
                        rows: procedureDetailsSectionItems
                    }) }}
                {% endif %}

                {% if shouldShowApplicationDecisionSection %}
                    <h2 class="govuk-heading-m">Application decision</h2>
                    {{ govukSummaryList({
                        rows: applicationDecisionSectionItems
                    }) }}
                {% endif %}
            </div>

            {{ renderHaveYourSayInformation(haveYourSayStatus, crownDevelopmentFields) }}

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            {{ applicationStage.renderApplicationStage(currentStage, formattedApplicationStages) }}

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <div>
                <h2 id="procedure" class="govuk-heading-m">Contact Us</h2>
                <h3 class="govuk-heading-s">Telephone</h3>
                <p class="govuk-body">If you have a representation reference number, have it with you when you call.</p>
                <p class="govuk-body">Telephone: 0303 444 5000</p>
                <p class="govuk-body">
                    Open Monday to Friday: 9am to 4pm.
                    <br>
                    Closed on weekends and bank holidays.
                </p>

                <h3 class="govuk-heading-s">Email</h3>
                <p class="govuk-body">
                    <a class="govuk-link" href="mailto:{{ crownDevelopmentFields.crownDevelopmentContactEmail }}">{{ crownDevelopmentFields.crownDevelopmentContactEmail }}</a>
                </p>
                <p class="govuk-body">When writing an email, quote the application reference in the subject line.</p>
                <p class="govuk-body">We aim to respond within 10 working days.</p>

                <h3 class="govuk-heading-s">Alternative formats</h3>
                <p class="govuk-body">Call or email to ask for project documents in alternative formats such as PDF, large print, easy read, audio recording or braille.</p>
            </div>
        </div>
    </div>
{% endblock %}