{% extends "views/layouts/main.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from  "views/applications/view/links.njk" import applicationLinks %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            {{ applicationLinks(links, currentUrl) }}
        </div>

        <div class="govuk-grid-column-two-thirds">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h1 class="govuk-heading-xl">
                        {% if pageCaption %}
                            <span class="govuk-caption-xl">{{ pageCaption }}</span>
                        {% endif %}
                        {{ pageHeading or pageTitle }}
                    </h1>
                </div>
            </div>

            <div>
                <h2 class="govuk-heading-m">About the application</h2>

                <h3 class="govuk-heading-s">Type of application</h3>
                <p class="govuk-body">{{ crownDevelopmentFields.applicationType }}</p>

                <h3 class="govuk-heading-s">Local Planning Authority</h3>
                <p class="govuk-body">{{ crownDevelopmentFields.lpaName }}</p>

                <h3 class="govuk-heading-s">Applicant name</h3>
                <p class="govuk-body">{{ crownDevelopmentFields.applicantName }}</p>

                <h3 class="govuk-heading-s">Site Address</h3>
                <p class="govuk-body">{{ crownDevelopmentFields.siteAddress }}</p>

                <h3 class="govuk-heading-s">Description of the proposed development</h3>
                <p class="govuk-body">{{ crownDevelopmentFields.description }}</p>

                {% if shouldShowImportantDatesSection %}
                    <h3 class="govuk-heading-s">Important Dates</h3>
                    {% if crownDevelopmentFields.applicationCompleteDate %}<p class="govuk-body">Application Complete Date: {{ crownDevelopmentFields.applicationCompleteDate }}</p>{% endif %}
                    {% if crownDevelopmentFields.representationsPeriodStartDate and crownDevelopmentFields.representationsPeriodEndDate %}
                        <p class="govuk-body">Representation Period: {{ crownDevelopmentFields.representationsPeriodStartDate }} - {{ crownDevelopmentFields.representationsPeriodEndDate }}</p>
                    {% endif %}
                    {% if crownDevelopmentFields.decisionDate %}<p class="govuk-body">Application Decision Date: {{ crownDevelopmentFields.decisionDate }}</p>{% endif %}
                {% endif %}

                {% if crownDevelopmentFields.stage %}
                    <h3 class="govuk-heading-s">Procedure Details</h3>
                    <p class="govuk-body">Application Stage: {{ crownDevelopmentFields.stage }}</p>
                    {% if crownDevelopmentFields.procedure %}<p class="govuk-body">Procedure Type: {{ crownDevelopmentFields.procedure }}</p>{% endif %}
                    {% if crownDevelopmentFields.isInquiry %}
                        {% if crownDevelopmentFields.inquiryDate %}<p class="govuk-body">Inquiry Date: {{ crownDevelopmentFields.inquiryDate }}</p>{% endif %}
                        {% if crownDevelopmentFields.inquiryVenue %}<p class="govuk-body">Inquiry Venue: {{ crownDevelopmentFields.inquiryVenue }}</p>{% endif %}
                        {% if crownDevelopmentFields.inquiryStatementsDate %}<p class="govuk-body">Inquiry Statements Date: {{ crownDevelopmentFields.inquiryStatementsDate }}</p>{% endif %}
                        {% if crownDevelopmentFields.inquiryProofsOfEvidenceDate %}<p class="govuk-body">Inquiry Proofs of Evidence Date: {{ crownDevelopmentFields.inquiryProofsOfEvidenceDate }}</p>{% endif %}
                    {% elif crownDevelopmentFields.isHearing %}
                        {% if crownDevelopmentFields.hearingDate %}<p class="govuk-body">Hearing Date: {{ crownDevelopmentFields.hearingDate }}</p>{% endif %}
                        {% if crownDevelopmentFields.hearingVenue %}<p class="govuk-body">Hearing Venue: {{ crownDevelopmentFields.hearingVenue }}</p>{% endif %}
                    {% endif %}
                {% endif %}
            </div>

            <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

            <div>
                <h2 id="procedure" class="govuk-heading-m">Contact Us</h2>

                <h3 class="govuk-heading-s">Telephone</h3>
                <p class="govuk-body">If you have an interested party number, have it with you when you call.</p>
                <p class="govuk-body">Telephone: 0303 444 5000</p>
                <p class="govuk-body">
                  Open Monday to Friday: 9am to 4pm.
                  <br>
                  Closed on weekends and bank holidays.
                </p>

                <h3 class="govuk-heading-s">Email</h3>
                <p class="govuk-body">
                  <a class="govuk-link" href="mailto:{{ crownDevelopmentFields.crownDevelopmentContactEmail }}">{{ crownDevelopmentFields.crownDevelopmentContactEmail }}</a>
                </p>
                <p class="govuk-body">When writing an email, quote the name of the project in the subject line.</p>
                <p class="govuk-body">We aim to respond within 10 working days.</p>

                <h3 class="govuk-heading-s">Alternative formats</h3>
                <p class="govuk-body">Call or email to ask for project documents in alternative formats such as PDF, large print, easy read, audio recording or braille.</p>
            </div>
        </div>
    </div>
{% endblock %}
