{% extends "./main.njk" %}
{% from "header/pins-header.njk" import pinsHeader %}

{% block header %}
	{% if isS62A %}	
		{{ pinsHeader({ isExternal: false }, config) }}
	{% else %}
		{{ super() }}
	{% endif %}
{% endblock %}

{% block pageContent %}
	{% for message in messages %}
		<p class="govuk-body">{{ message }}</p>
	{% endfor %}
{% endblock %}