{% extends "views/layouts/main.njk" %}

{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% if not title %}
  {% set title %}
    {{ question.pageTitle | default('GOV.UK') }} - {{ journeyTitle }} - Manage a Crown Development Application
  {% endset %}
{% endif %}

{% block pageTitle %}{{ "Error: " + title if errors else title }}{% endblock %}

{# show question content within content, overrides main content #}
{% block content %}
    {% if banner %}
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {{ govukNotificationBanner(banner) }}
            </div>
        </div>
    {% endif %}
    {% block dynQuestionContent %}{% endblock %}
{% endblock %}

{% if warningMessage %}
  {% set beforeSubmitButton = govukWarningText({
    text: warningMessage
  }) %}
{% endif %}
