{% extends layoutTemplate %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

{% set titlePrefix = "View" %}
{% if requiresReview %}
    {% set titlePrefix = "Review" %}
{% endif %}
{% set title = journeyTitle + " - Manage a Crown Development Application" %}

{% block pageTitle %}
    {{ title }}
{% endblock %}

{% block content %}
    {% if representationUpdated %}
        {{ govukNotificationBanner({
            text: "Representation has been updated",
            type: "success"
        }) }}
    {% endif %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                <span class="govuk-caption-xl">{{ applicationReference }}</span>
                {% if requiresReview %}
                    Review representation
                {% else %}
                    View representation
                {% endif %}
            </h1>
        </div>
    </div>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            {# combine all section rows into one list #}
            {% set rows = [] %}
            {% for section in summaryListData.sections %}
                {% if section.list.rows.length %}
                    {% set rows = rows.concat(section.list.rows) %}
                {% endif %}
            {% endfor %}
            {{ govukSummaryList({
                rows: rows
            }) }}
        </div>
    </div>

    {% if requiresReview %}
        <form method="POST">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    {{  govukButton({ text: 'Continue' }) }}
                </div>
            </div>
        </form>
    {% endif %}

{% endblock %}
