{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageContent %}
    {{ govukSummaryList({
        rows: summaryItems
    }) }}
    <div class="govuk-button-group">
        <form method="POST">
            {% if applicationUpdateStatus == "published" %}
                {{ govukButton({
                    text: "Unpublish update",
                    href: unpublishButtonUrl,
                    classes: "govuk-button--warning"
                }) }}
            {% elif applicationUpdateStatus == "draft" %}
                    {{ govukButton({
                        text: "Save"
                    }) }}
                {{ govukButton({
                    text: "Delete",
                    href: deleteButtonUrl,
                    classes: "govuk-button--warning"
                }) }}
            {% endif %}
        </form>
    </div>
{% endblock %}