{% macro applicationLinks(links, currentUrl) %}
    <ul class="govuk-list application-links">
        {% for link in links %}
            {% if link.href == currentUrl %}
                <li class="application-links__active">
                    <strong>{{ link.text }}</strong>
                </li>
            {% else %}
                <li>
                    <a class="govuk-link" href="{{ link.href }}">{{ link.text }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
{% endmacro %}