<p>
    The Planning Inspectorate reviews the application to make sure is complete.
    This includes checking that all required documents have been submitted following national requirements.
</p>
<p>
    Where applicable, it also checks that the documents listed in the local planning authority’s local validation
    checklist are included.
</p>
<p>
    The Planning Inspectorate also checks that the correct planning fee has been paid.
    The fee is calculated in line with the Town and Country Planning (Fees for Applications, Deemed Applications,
    Requests and Site Visits) (England) Regulations 2012 (as amended).
</p>
<p>The Secretary of State assesses whether the application is of national importance.</p>
<p>
    If the Planning Inspectorate decides that the application is complete
    and the Secretary of State considers the application to be of national importance, the application will be accepted.
</p>