<p>The Planning Inspectorate:</p>
<ul>
    <li>publishes the application documents on a dedicated web page</li>
    <li>carries out any required consultations</li>
    <li>may place a press notice</li>
</ul>
<p>The relevant local planning authority displays a site notice and notifies any adjoining owner or occupier if needed.</p>
<p>Statutory consultees and other interested parties can send written representations to the Planning Inspectorate.</p>
<p>
    Written representations must be sent no less than 21 days from the date the application is accepted.
    Written representations submitted after this date may not be considered.
</p>
