<p>After the inquiry, hearing or site visit (for written representations), the inspector uses the evidence to write their decision.</p>
<p>The formal decision notice includes a statement explaining the reasons for the decision.</p>
<p>If the application is approved, the decision will also list any necessary conditions.</p>
<p>
    If the application is recovered, the inspector will make a recommendation to the Secretary of State
    rather than issue a decision. The Secretary of State will consider the recommendation and issue a decision.
</p>