<p>A hearing is a round-table discussion led by an inspector or a panel of inspectors.</p>
<p>The hearing allows anyone who wants to make oral representations to do so. The inspector can also ask questions about points of fact or other queries.</p>
<p>A hearing is not for parties to test the evidence of others through cross-examination or direct questioning.</p>
