<p>
    An inquiry is the most formal of procedures. Although it is not a court of law, the proceedings are similar.
    An inquiry is open to the public and provides for the investigation into, and formal testing of evidence,
    usually through cross-examination of expert witnesses and other witnesses.
    Parties may be formally represented by advocates.
</p>
<p>
    The applicant, local planning authority and any statutory parties can submit a statement of case.
    This must be submitted within 5 weeks of the date they are notified of the inquiry.
</p>
<p>
    The inspector (or panel of inspectors), under rule 13(3) of the 2025 Hearings and Inquiries rules,
    may require any person who has requested to appear at the inquiry to also submit a statement of case.
    This must be submitted within 4 weeks of our writing to them.
</p>
<p>
    Proof of evidence must be submitted no later than 4 weeks before the inquiry.
    If the proof of evidence exceeds 1,500 words, it should be submitted with a summary.
</p>
<p>
    A case management conference may be held before the inquiry.
    The Planning Inspectorate notifies anyone entitled to attend the inquiry the details of the case management
    conference and provides an agenda beforehand.
</p>