<p>Where permission has been granted for a Crown Development application, the local planning authority is responsible for monitoring its implementation.</p>
<p>The local planning authority must make sure the development follows the approved plans and planning conditions.</p>
<p>
    To challenge a decision on a Crown Development application, an application must be made to the High Court.
    This application must be made within 6 weeks beginning with the date after the day the decision is issued.
</p>