<p>
    The Crown Casework Team at the Ministry of Housing, Communities and Local Government (MHCLG) handles the pre-application
    process for Crown Development applications. This team is responsible for early engagement with prospective applicants,
    which includes giving advice on suitable planning routes through the Crown Development process.
</p>
<p>
    MHCLG can also give general pre-application planning guidance to make sure applications cover everything needed for submission.
    Pre-application engagement may also include engagement with:
</p>
<ul>
    <li>the local planning authority</li>
    <li>statutory and non-statutory consultees</li>
    <li>local communities</li>
    <li>other government departments and agencies whose interests may be affected by the proposal</li>
</ul>