<p>The procedure is the method the Planning Inspectorate will use to decide the application.</p>
<p>The Planning Inspectorate will decide at the end of the consultation period how the application should continue. The procedures are:</p>
<ul>
    <li>written representations</li>
    <li>hearing</li>
    <li>inquiry</li>
</ul>
<p>
    The Planning Inspectorate tells the applicant, local planning authority and anyone who submitted a written
    representation during the consultation period which procedure the application will follow. The Planning Inspectorate
    will keep the procedure choice, including combined procedures, under review. Subject to any notification and
    procedural requirement, the procedure may be changed at any point before the decision is issued.
</p>