# the log level for pino
LOG_LEVEL=debug

# a secret used for sessions
SESSION_SECRET=not-a-real-secret

# Azure
AZURE_CLIENT_ID=<id>
AZURE_CLIENT_SECRET=not-a-real-secret
AZURE_TENANT_ID=<id>

#GovNotify
GOV_NOTIFY_DISABLED=false
GOV_NOTIFY_API_KEY=not-a-real-api-key
CROWN_DEV_CONTACT_EMAIL=an-email
GOV_NOTIFY_PRE_ACK_TEMPLATE_ID=<id>
GOV_NOTIFY_ACK_REP_TEMPLATE_ID=<id>

# sharepoint
SHAREPOINT_DISABLED=false
SHAREPOINT_DRIVE_ID=<id>

# Database
SQL_CONNECTION_STRING=<connection-string>

# feature flags
FEATURE_FLAG_PORTAL_NOT_LIVE=false
FEATURE_FLAG_UPLOAD_DOCS_REPS_NOT_LIVE=false