{% extends "views/layouts/main.njk" %}

{% from "views/applications/view/application-info/have-your-say-information.njk" import renderHaveYourSayInformation %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "application-links/application-links.njk" import applicationLinks %}
{% from "distressing-content/distressing-content-banner.njk" import distressingContentBanner %}

{% block pageHeading %}{% endblock %}

{% block pageContent %}
	{% set contactEmail = 'section62a@planninginspectorate.gov.uk' if s62aFields.isMajor else 'section62anonmajor@planninginspectorate.gov.uk' %}

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-one-third">
			{{ applicationLinks(links, currentUrl) }}
		</div>

		<div class="govuk-grid-column-two-thirds">

			{% if banner %}
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-full">
						{{ govukNotificationBanner(banner) }}
					</div>
				</div>
			{% endif %}

			<div class="govuk-grid-row">
				<div class="govuk-grid-column-full">
					<h1 class="govuk-heading-xl">
						{% if pageCaption %}
							<span class="govuk-caption-xl">{{ pageCaption }}</span>
						{% endif %}
						{{ pageHeading or pageTitle }}
					</h1>
				</div>
			</div>
			<div>
				<h2 class="govuk-heading-m">About this application</h2>
				{{ govukSummaryList({
					rows: aboutThisApplicationSectionItems
				}) }}

				<h2 class="govuk-heading-m">Key dates</h2>
				{{ govukSummaryList({
					rows: keyDatesSectionItems
				}) }}

				{% if s62aFields.showHearing %}
					<h2 class="govuk-heading-m">Hearing</h2>
					{{ govukSummaryList({
						rows: hearingSectionItems
					}) }}
				{% endif %}

				{% if s62aFields.showDecision %}
					<h2 class="govuk-heading-m">Decision</h2>
					{{ govukSummaryList({
						rows: decisionSectionItems
					}) }}
				{% endif %}
			</div>
			{{ renderHaveYourSayInformation(haveYourSayStatus, s62aFields) }}
			<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
			<div>
				<h2 class="govuk-heading-m">Give us feedback</h2>
				<p class="govuk-body">Help us improve this service by
					<a class="govuk-link" target="_blank" href="{{ config.serviceFeedbackUrl }}">sharing your feedback</a>.
				</p>
			</div>
			<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
			<div>
				<h2 class="govuk-heading-m">Contact Us</h2>
				<h3 class="govuk-heading-s">Telephone</h3>
				<p class="govuk-body">If you have a representation reference number, have it with you when you call.</p>
				<p class="govuk-body">Telephone: 0303 444 5000</p>
				<p class="govuk-body">
					Open Monday to Friday: 9am to 4pm.
					<br>
					Closed on weekends and bank holidays.
				</p>

				<h3 class="govuk-heading-s">Email</h3>
				<p class="govuk-body">When writing an email, quote the application reference number {{ s62aFields.reference }} in the subject line.</p>
				<p class="govuk-body">
					<a class="govuk-link" href="mailto:{{ contactEmail }}?subject={{ s62aFields.reference | urlencode }}">{{ contactEmail }}</a>
				</p>
				<p class="govuk-body">We aim to respond within 10 working days.</p>

				<h3 class="govuk-heading-s">Post</h3>
				<p class="govuk-body">
					Section 62A Applications Team<br>
					Planning Inspectorate, C/O QUADIENT<br>
					69 Buckingham Avenue<br>
					Slough<br>
					SL1 4PN
				</p>

				<h3 class="govuk-heading-s">Alternative formats</h3>
				<p class="govuk-body">Contact us if you would like this application information in another format.</p>
			</div>
		</div>
	</div>
{% endblock %}
