{% extends "views/layouts/main.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% import "pagination/pagination.njk" as pagination %}
{% import "pagination/pagination-options.njk" as paginationOptions %}
{% from "tables/tables.njk" import caseNotesTable %}

{% set title = reference + " - " + journeyTitle + " - Manage a S62A Case" %}

{% block pageTitle %}
	{{ title }}
{% endblock %}

{% block content %}
	{% if banner %}
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-two-thirds">
				{{ govukNotificationBanner(banner) }}
			</div>
		</div>
	{% endif %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<h1 class="govuk-heading-l">
				{{ reference }}
			</h1>
			{{ govukButton({
				text: "Manage documents",
				href: foldersUrl,
				classes: "govuk-button--secondary"
			}) }}
		</div>
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			<nav class="moj-sub-navigation pins-sub-navigation" aria-label="Sub navigation">
				<ul class="moj-sub-navigation__list">
					{% for tab in viewTabs %}
						<li
							class="moj-sub-navigation__item {% if currentTab == tab.id %}moj-sub-navigation__item--active{% endif %}">
							<a class="moj-sub-navigation__link" {% if currentTab == tab.id %}aria-current="page"{% endif %}
								 href="{{ cleanUrl }}/{{ tab.id }}">
								{{ tab.displayName }}
							</a>
						</li>
					{% endfor %}
				</ul>
			</nav>
		</div>
	</div>
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-full">
			{% for section in summaryListData.sections %}
				{% if section.list.rows.length %}
					{% if section.heading %}
						<h2 class="govuk-heading-m" id="{{ section.heading | lower | replace(' ', '-') }}">
							{{ section.heading }}
						</h2>
					{% endif %}

					{{ govukSummaryList({
						rows: section.list.rows
					}) }}
				{% endif %}
			{% endfor %}

			{% if currentTab == 'representations' %}
				<h2 class="govuk-heading-m" id="manage-representations">
					Manage representations
				</h2>
				<p class="govuk-body">
					<a href="{{ cleanUrl }}/manage-representations/add-representation/start" class="govuk-link govuk-link--no-visited-state">Add
						new representation</a>
				</p>
			{% endif %}

			{% if currentTab == 'case-audit' %}
				{{ govukSummaryList({
					rows: [
						{
							key: {
							text: "Created date"
						},
							value: {
							text: createdDate
						}
						},
						{
							key: {
							text: "Last updated"
						},
							value: {
							text: lastModifiedDate
						}
						},
						{
							key: {
							text: "Application history"
						},
							value: {
							html: ""
						},
							actions: {
							items: [
								{
									href: baseUrl + "/application-history",
									text: "View",
									visuallyHiddenText: "application history"
								}
							]
						}
						}
					]
				}) }}
			{% endif %}
			{% if currentTab == 'case-notes' %}
				<div class="govuk-grid-row">
					<div class="govuk-grid-column-full">
						<h1 class="govuk-heading-l" data-cy="page-heading">
							{{ 'Case notes' }}
						</h1>
					<p class="govuk-body">
						<a href="{{ cleanUrl }}/case-notes/add-case-note" class="govuk-link govuk-link--no-visited-state">Add case note</a>
					</p>				
						<div id="pagination">
							<p class="govuk-body govuk-clearfix">
								Showing <strong>{{ caseNotePaginationParams.resultsStartNumber }}</strong>
								to
								<strong>{{ caseNotePaginationParams.resultsEndNumber if caseNotePaginationParams.totalItems > caseNotePaginationParams.resultsEndNumber else caseNotePaginationParams.totalItems }}</strong>
								of <strong>{{ caseNotePaginationParams.totalItems }}</strong> results
							</p>
							{{ paginationOptions.renderPagination(caseNotePaginationParams.selectedItemsPerPage, caseNotePaginationParams.totalItems, baseUrl, queryParams) }}
							<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

							{{ caseNotesTable(caseNoteData,displayRef) }}
						</div>

						{# if pageNumber and totalPages values are both 1 then pagination options not shown #}
						{{ pagination.renderPagination(caseNotePaginationParams.pageNumber, caseNotePaginationParams.totalPages, baseUrl, queryParams) }}
					</div>
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
