{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set title = "Declaration – " + config.haveYourSayServiceName %}
{% block pageTitle %}{{ "Error: " + title if errors else title }}{% endblock %}

{% block pageHeading %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <h1 class="govuk-heading-l">
                {{ pageTitle }}
            </h1>
        </div>
    </div>
{% endblock %}
{% block pageContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">
        By submitting this form, you are making a written representation on a Crown
        development application. Your comment will be considered before a decision is made.
      </p>

      <form method="post" novalidate>
        <div class="govuk-form-group {% if errorSummary and errorSummary.length %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" aria-describedby="{% if errorSummary and errorSummary.length %}checkbox-hint{% endif %}">
            <legend id="checkbox-hint" class="govuk-hint"> Select each statement to confirm that you agree.</legend>
            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                {{ govukCheckboxes({
                    idPrefix: declarationCheckbox.idPrefix,
                    name: declarationCheckbox.name,
                    items: declarationCheckbox.items
                }) }}
            </div>
          </fieldset>
            <br>
        </div>
        <div class="govuk-grid-column-two-thirds">
          {{ govukButton({
            text: "Accept and submit",
            type: "submit",
            preventDoubleClick: true
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}