{% extends "views/layouts/main.njk" %}

{% block pageContent %}
	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">
			<p class="govuk-body">If you typed the web address, check it is correct.</p>
			<p class="govuk-body">If you pasted the web address, check you copied the entire address.</p>
			<p class="govuk-body">
				<a href="https://contact-us.planninginspectorate.gov.uk/hc/en-gb/requests/new" class="govuk-link">Contact the
					Planning Inspectorate Customer Support</a> if the problem persists
			</p>
		</div>
	</div>
{% endblock %}
