@use 'node_modules/govuk-frontend/dist/govuk/index' as govuk;

.pins-dashboard-box {
	padding: govuk.govuk-spacing(5) govuk.govuk-spacing(5) 1px;
	margin-bottom: govuk.govuk-spacing(7);
	box-shadow:
		0 2px 0 govuk.govuk-colour('black', $variant: 'tint-80'),
		inset 2px 0 0 govuk.govuk-colour('black', $variant: 'tint-80'),
		inset -2px 0 0 govuk.govuk-colour('black', $variant: 'tint-80'),
		inset 0 4px 0 govuk.govuk-colour('blue');
}
