{% extends "views/layouts/main.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block pageContent %}
    {{ govukInsetText({
        text: updateDetails
    }) }}
    <form method="POST">
        {{ govukButton({
            text: "Confirm unpublish"
        }) }}
    </form>
{% endblock %}
