{% extends "views/layouts/main.njk" %}

{% from "govuk/components/table/macro.njk" import govukTable %}

{% block pageHeading %}{% endblock %}

{% block beforeContent %}
    <div class="govuk-width-container">
        {% include "views/layouts/components/core/intro-to-service.njk" %}
    </div>
    {{ super() }}
{% endblock %}

{% macro insertWbr(inputString) %}
    {{ inputString | replace("/", "/<wbr>") | safe }}
{% endmacro %}


{% block pageContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                    <h2 class="govuk-heading-l">
                        {{ pageTitle }}
                    </h2>
                </div>
                <div class="govuk-grid-column-full">
                    <div class="pins-table__container" role="region" aria-label="Scrollable content. Use the arrow keys to navigate.">
                        {% set crownDevelopments = [] %}
                        {% for crownDevelopment in crownDevelopmentsViewModels %}
                            {% set crownDevelopments = (crownDevelopments.push([
                                {
                                    html: "<a class='govuk-link' href='/applications/" +  crownDevelopment.id + "/application-information'>" + insertWbr(crownDevelopment.reference) + "</a>"
                                },
                                {
                                    text: crownDevelopment.applicationType
                                },
                                {
                                    text: crownDevelopment.applicantName
                                },
                                {
                                    text: crownDevelopment.lpaName
                                },
                                {
                                    text: crownDevelopment.stage
                                }
                            ]), crownDevelopments) %}
                        {% endfor %}

                        {{ govukTable({
                            captionClasses: "govuk-table__caption--m",
                            firstCellIsHeader: true,
                            head: [
                                {
                                    text: "Application reference"
                                },
                                {
                                    text: "Application type"
                                },
                                {
                                    text: "Applicant name"
                                },
                                {
                                    text: "Local planning authority"
                                },
                                {
                                    text: "Stage"
                                }
                            ],
                            rows: crownDevelopments
                        }) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}